body {
    background: lavender;
    font-family: monospace;
    margin: auto;
}
main {
    margin: 10px;
}
header {
    display: flex;
    margin: auto;
    justify-content: space-between;
    background: skyblue;
    width: 75%;
   
}
img {    
        width: 30%;
       
        
}
header h1 {
    margin: 0%;
    text-align: right;
}

/* media queries */
@media (max-width:500px) {
    #reviews {
        display: none;
    }
}

#display-info {

    text-align: left;
    margin-left: 20%;
    margin-right: 20%
}

form {

text-align: center;


}
input#review {
    width: 50%;
}